.footer-page {
    padding : 30px 0;
    background : $color3;

    .credits {
        @include font-configuration($font1, 0.875rem, 100%, $color1, 400); font-style : italic;
        opacity : 0.5;
    }
}
