.header-page {
    padding : 20px 0 10px 0;

    .cell { position : relative; }

    .main-logo {
        position : absolute;
        width : 100%; height : 100%;

        img, svg {
            display : block;
            width : auto; height : 55px;
        }
    }
}
