.block-content-diaporama {
    .swiper-container {
        position : relative;
        width : 100%;


    }

    .swiper-wrapper { z-index : 1; }

    .swiper-slide a {
        position : relative; display : block; z-index : 1;
        outline : 0; text-decoration : none;

        &:hover {
            i { opacity : 1;}
        }

        i {
            position : absolute; z-index : 2;
            top : 10px; right : 10px;
            color : $color0; font-size : 1.5rem; opacity : 0.5;
            transition: all 300ms cubic-bezier($cubic_bezier);
        }
    }

    .swiper-button-next, .swiper-button-prev {
        position : absolute; z-index : 4;
        top : 50%; left : 5px;
        width : 35px; height : 35px;
        margin : 0; padding : 0;
        background : none; border : 1px solid $color0; border-radius : 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); outline : 0;
        transition: all 300ms cubic-bezier($cubic_bezier);

        &:hover {
            background : $color0;

            &:before {
                border-color : $color2;
            }
        }

        &:before {
            content : ''; display : block; position : absolute;
            top : 50%; left : 50%; transform : translateY(-50%) translateX(-35%) rotate(135deg);
            width : 30%; height : 30%;
            border-bottom : 2px solid $color0; border-right : 2px solid $color0;
        }
    }

    .swiper-button-next {
        left : auto; right : 5px;

        &:before {
            transform : translateY(-50%) translateX(-65%) rotate(-45deg);
        }
    }

    .swiper-pagination {
        position : absolute; z-index : 3;

        .swiper-pagination-bullet {
            width : 14px; height : 14px;
            border : 1px solid $color0;
            opacity : 1; cursor: pointer;

            &:not(.swiper-pagination-bullet-active):hover {
                background : $color0;
            }

            &.swiper-pagination-bullet-active {
                border-color : $color2; background : $color2;
            }
        }
    }
}
