.block-onglets {

    .onglets-nav {
        display: block;

        ul {
            display : flex; flex-wrap : wrap; justify-content: flex-start; align-items: center;
            list-style : none; margin : 0; padding : 0;
            border-bottom : 1px solid rgba(0, 0, 0, 0.15);

            li {
                padding : 0; margin : 0;
                background : $color3; border-left : 1px solid rgba(0, 0, 0, 0.15);

                &:first-child { border-left : none; }

                &.active {
                    background : $color2;

                    a, a:hover { color : $color0; }
                }

                a {
                    display : block;
                    padding : 12px 20px;
                    @include font-configuration($font1, 1.1rem, 100%, $color1, 600); text-decoration: none;

                    &:hover {
                        color : $color2;
                    }
                }
            }
        }
    }

    .onglets {
        .onglet { display : none; padding : 15px 10px; }
        .onglet.active { display : block; }
    }
}
