.block-map {
    width : 100%; height : 70vh; min-height : 380px;
    background : $color3;

    .gm-style-iw-d {
        p, ul li, ol, li {
            margin : 0;
            @include font-configuration($font1, 0.9rem, 120%, $color1, 400);
        }

        
    }
}
