.download-block {
    ul {
        list-style : none;
        width : 70%;
        margin : 0 auto; padding : 0;
    }

    li {
        border-bottom : 1px solid rgba(0, 0, 0, 0.2);

        &:last-child {
            border-bottom : 0;
        }

        a {
            display : block; position : relative;
            padding : 15px 40px;
            @include font-configuration($font1, 1.25rem, 125%, $color1, 400); text-decoration : none;

            &:hover {
                color : $color2;

                .filesize { color : $color2; }

                &:after {
                    right : 5px; border-color : $color2;
                }
            }

            &:after {
                content : ''; position : absolute; display : block;
                top : 50%; right : 15px; transform : translateY(-50%) rotate(-45deg);
                width : 10px; height : 10px;
                border-bottom : 2px solid $color1; border-right : 2px solid $color1;
                transition: all 450ms cubic-bezier($cubic_bezier);
            }

            .fas {
                position : absolute;
                top : 15px; left : 10px;
                font-size : 25px; opacity : 0.25;
            }

            .filesize {
                display : block;
                @include font-configuration($font1, 0.8rem, 125%, $color1, 400); opacity : 0.75; font-style : italic;
            }


        }
    }
}
