.block-accordions {

    .accordions {
        .accordion {
            border-bottom : 1px solid rgba(0, 0, 0, 0.15);

            &:last-child { border-bottom : none; }

            &.active {
                .accordion-content { display : block; }

                .accordion-title h4 a {
                    color : $color2;

                    i::after { display : none; }

                    &:hover {
                        i { transform : translateY(-50%); }
                    }
                }
            }
        }
    }

    .accordion-title {
        h4 {
            margin : 0; padding : 0;

            a {
                display : block; position : relative;
                padding : 15px 45px 15px 15px;
                @include font-configuration($font1, 1.25rem, 1.25rem, $color1, 500); text-decoration : none;
                background : $color3;

                &:hover {
                    color : $color2;

                    i {
                        transform : translateY(-50%) rotate(90deg);
                    }
                }

                i {
                    position : absolute; display : block;
                    top : 50%; right : 15px; transform : translateY(-50%);
                    width : 18px; height : 18px;
                    transition : all 300ms ease-out;

                    &:before, &:after {
                        content : ''; position : absolute;
                        top : 50%; left : 50%; transform : translateY(-50%) translateX(-50%);
                        width : 100%; height : 1px;
                        background : $color2;
                    }

                    &:after {
                        transform : translateY(-50%) translateX(-50%) rotate(90deg);
                    }
                }
            }
        }
    }
    .accordion-content {
        display : none;
        padding : 15px 10px;
    }
}
