<div class="news-item">
    {% if fn('has_post_thumbnail', item.ID) %}
        <div class="picture">
            <a href="{{ fn('get_permalink', item.ID) }}" title="{{ item.title }}" rel="nofollow">
                {{ fn('get_the_post_thumbnail', item.ID, 'lgd_news_thumbnail') }}
            </a>
        </div>
    {% endif %}
    <div class="news-informations">
        <a href="{{ fn('get_permalink', item.ID) }}" title="{{ item.title }}" class="title">
            {{ item.title }}
        </a>
        {% if item.post_excerpt is not empty %}
            <div class="excerpt">
                {{ fn('wp_trim_words', item.post_excerpt, 18) }}
            </div>
        {% endif %}
        <a href="{{ fn('get_permalink', item.ID) }}" title="{{ __('Find out more', LANG_DOMAIN) }}" class="read-more">
            {{ __('Find out more', LANG_DOMAIN) }}<i></i>
        </a>
    </div>
</div>
