body {
    background : $color2;
    text-align : center;
}

.main-wrapper {
    position : relative;
    max-width : 75rem;
    margin : 30px auto; padding : 0;
    text-align: left; background : $color0;
}

.page-content {
    padding : 65px 0 0 0;
}

a {
    transition: all 300ms cubic-bezier($cubic_bezier);
}
