@mixin animate( $time ){
  transition: all $time ease-in-out;
}

@mixin font-configuration( $font-family, $font-size, $line-height, $color, $font-weight ){
  font-family : $font-family;
  font-size : $font-size;
  line-height : $line-height;
  color : $color;
  font-weight : $font-weight;
}
