<footer class="footer-page">
    <div class="row grid-x grid-padding-x">
        <div class="cell medium-5 small-12 large-order-1 small-order-2 credits">
            ©{{ fn('date', 'Y') }} {{ site.name }} - {{ __('All rights reserved', constant('LANG_DOMAIN')) }}
        </div>
        <div class="cell medium-7 small-12 large-order-2 small-order-1">
            <nav class="footer-menu">
                {% if footer_menu is not empty %}
                    {% include 'components/menu.twig' with {'menu': footer_menu.items} %}
                {% endif %}
            </nav>
        </div>
    </div>
</footer>
