<header class="header-page">
    <div class="row grid-x grid-padding-x align-stretch">
        <div class="cell large-3 medium-4 small-6">
            <div class="main-logo">
                {{ main_logo }}
            </div>
        </div>
        <div class="cell large-9 medium-8 small-6">
            <nav class="main-menu">
                {% if main_menu is not empty %}
                    {% include 'components/menu.twig' with {'menu': main_menu.items} %}
                {% endif %}
            </nav>
        </div>
    </div>
</header>
