.block-content {
    margin-bottom : 65px;

    & > *:first-child {
		margin-top: 0 !important;
	}
	& > *:last-child {
		margin-bottom: 0 !important;
	}

    .block-title {
        margin : 0; padding : 0;
        @include font-configuration($font1, 2.15rem, 110%, $color1, 900); text-transform : uppercase; text-align : center;

        &:after {
            content : ''; display : block;
            width : 65px; height : 1px;
            margin : 10px auto 30px auto;
            background : $color2;
        }
    }

    a {
        @include font-configuration($font1, 1rem, 150%, $color2, 400);
        text-decoration : underline;

        &:hover {
            color : $color1;
        }
    }

    ul, ol {
        padding-left : 3rem;

        li { padding : 2px 0; }

        & ul, & ol {
            margin-bottom: 0;
        }
    }

    p, ul, ol {
        margin : 0 0 1rem 0;
        @include font-configuration($font1, 1rem, 150%, $color1, 400);
    }

    blockquote {
        padding : 25px;
        background : $color3;
        border-left : 5px solid $color2;

        p {
            margin : 0;
            @include font-configuration($font1, 1.2rem, 150%, $color1, 500);
        }
    }

    h1, h2, h3, h4, h5, h6 {
        padding-top : 0.65rem; margin-bottom : 0.65rem;
    }

    h1, h2 {
        @include font-configuration($font1, 2.15rem, 110%, $color1, 700);
    }

    h3 {
        @include font-configuration($font1, 1.75rem, 110%, $color1, 700);
    }

    h4 {
        @include font-configuration($font1, 1.45rem, 110%, $color1, 500);
    }

    h5 {
        @include font-configuration($font1, 1.25rem, 110%, $color1, 500);
    }

    h6 {
        @include font-configuration($font1, 1.15rem, 110%, $color2, 600);
    }
}
