.loader {
    width: 3em; height: 3em;
    border: 3px solid rgba(22, 121, 186, 0.2); border-top-color: $color2; border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
