.main-menu, .footer-menu {
    ul { list-style : none; margin : 0; }

    & > ul {
        display : flex;
        justify-content : flex-end; align-items: center; flex-wrap: wrap;
    }

    li {
        a {
            display : block;
            padding : 10px 20px;
            @include font-configuration($font1, 1rem, 1rem, $color1, 400);

            &:hover {
                color : $color2;
            }
        }
    }

    li.menu-item-has-children {
        position : relative;

        & > a { padding-right : 30px; }

        &:after {
            content: ''; position : absolute; display : block;
            top : 50%; right : 10px; transform : translateY(-50%) rotate(45deg);
            width : 5px; height : 5px;
            border-right : 1px solid $color1; border-bottom : 1px solid $color1;
        }

        &:hover {
            & > ul {
                display : block;
            }
        }

        & > ul {
            position : absolute;
            display: none; z-index: 999;
            top : 100%; left : 50%; transform : translateX(-50%);
            width : 100%; min-width : 180px; height : auto;
            margin : 0; list-style : none;
            background : $color0;

            & > li.menu-item-has-children {

                &:after {
                    transform : translateY(-50%) rotate(-45deg);
                }

                & > ul {
                    top : 0; left : auto; right : -99%; transform : translateX(1%);
                }
            }
        }
    }
}


.footer-menu {
    li a { padding : 5px 12px; font-size : 0.875rem; }
    li.menu-item-has-children {
        &:after {
            transform : translateY(-50%) rotate(-135deg);
        }
        & > ul { top : -100%; }
    }
}
