.news-item-container {
    position : relative;
    margin-bottom : 1.875rem;
}
.news-item {
    height : 100%;
    box-shadow : 0 0 1px rgba(0, 0, 0, 0.2);

    .picture {
        position : relative; display : block;
        width : 100%; height : 200px;
        overflow : hidden;

        img {
            position : absolute;
            top : 50%; left : 50%; transform : translateY(-50%) translateX(-50%);
            width : auto; height : auto; max-width : 150%; min-width : 100%; min-height : 100%;
            transition : all 450ms cubic-bezier($cubic-bezier);
        }

        a {
            &:hover {
                img {
                    transform : translateY(-50%) translateX(-50%) scale(1.1);
                }
            }
        }
    }

    .news-informations {
        padding : 10px 15px;
    }

    .title {
        display : block;
        margin : 0 0 10px 0;
        @include font-configuration($font1, 1.15rem, 125%, $color1, 600);
    }

    .excerpt {
        display : block;
        margin : 0 0 10px 0;
        @include font-configuration($font1, 0.875rem, 125%, $color1, 400); opacity : 0.5;
    }

    .read-more {
        display : inline-block; position : relative;
        padding : 0 20px 0 0;
        @include font-configuration($font1, 0.75rem, 100%, $color2, 400); text-transform : uppercase;

        &:hover {
            &:before { width : calc(100% - 5px); }
            &:after { right : 5px; }
        }

        &:before {
            content : ''; position : absolute; display : block;
            bottom : -5px; left : 0;
            width : 0; height : 1px;
            background : $color2;
            transition : all 450ms cubic-bezier($cubic-bezier);
        }

        &:after {
            content : ''; position : absolute; display : block;
            top : 50%; right : 10px; transform : translateY(-50%) rotate(-45deg);
            width : 6px; height : 6px;
            border-bottom : 1px solid $color2; border-right : 1px solid $color2;
            transition : all 450ms cubic-bezier($cubic-bezier);
        }
    }
}
