{% extends "base.twig" %}

{% block content %}
    {% if posts is not empty %}
        <div class="row grid-x grid-padding-x">
            {% for post in posts %}
                <div class="cell xlarge-3 large-4 medium-3 small-12 align-stretch news-item-container">
                    {% include "components/news-item.twig" with {'item': post} %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="row grid-x grid-padding-x align-center">
            <div class="large-5 medium-7 small-12 cell text-center">
                <div class="callout primary">{{ __('No content available in this category', LANG_DOMAIN) }}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}
