{% extends "base.twig" %}

{% block content %}
    {% if content_blocks is not empty %}
        {% for key, content_block in content_blocks %}
            {% include 'components/blocks/content_block_' ~ content_block.acf_fc_layout ~ '.twig' %}
        {% endfor %}
    {% endif %}
{% endblock %}
