<div class="row block-content block-video">
    <div class="grid-x grid-padding-x">
        <div class="cell large-8 medium-10 small-12 large-offset-2 medium-offset-1">
            {% if content_block.title %}
                <h2 class="text-center block-title">{{ content_block.title }}</h2>
            {% endif %}

            {{ content_block.video }}
        </div>
    </div>
</div>
