<div class="row block-content">
    <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            {% if content_block.title %}
                <h2 class="text-center block-title">{{ content_block.title }}</h2>
            {% endif %}
            {% if content_block.pictures %}
                <div class="pictures-wall js-pictures-wall" id="pictures-wall-block-{{ key }}">
                    {% for picture_id, picture in content_block.pictures %}
                        <div class="grid-item">
                            <a href="{{ picture.picture.sizes.lgd_xlrg_thumb }}" title="{{ picture.picture.title }}" data-caption="{{ picture.picture.title }}" data-fancybox="gallery-{{ key }}">
                                <picture>
                                    <source media="(max-width: 860px)" srcset="{{ picture.picture.sizes.lgd_sm_thumb }}">
                                    <img src="{{ picture.picture.sizes.lgd_md_thumb }}" alt="{{ picture.picture.title }}" title="{{ picture.picture.title }}" id="image-{{ key }}-{{ picture_id }}">
                                </picture>
                                <i class="fas fa-search-plus"></i>
                            </a>
                            <div class="loader"></div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
