<div class="row block-content">
    <div class="grid-x grid-padding-x">
        <div class="cell small-12">

            {% if content_block.title %}
                <h2 class="text-center block-title">{{ content_block.title }}</h2>
            {% endif %}

            {% if content_block.map is not empty %}
                <div
                class="block-map js-block-map"
                id="block-map-{{ key }}"
                data-lng="{{ content_block.map.lng }}"
                data-lat="{{ content_block.map.lat }}"
                data-address="{{ content_block.map.address }}"
                data-infowindow="{{ (content_block.infowindow_content is not empty) ? content_block.infowindow_content : '' }}"
                data-infowindow-open="{{ (content_block.infowindow_open is not empty) ? 1 : 0 }}">
                </div>
            {% endif %}
        </div>
    </div>
</div>
