<div class="row block-content block-image-text">
    <div class="grid-x grid-padding-x">
        {% if content_block.title %}
            <div class="small-12 cell">
                <h2 class="text-center block-title">{{ content_block.title }}</h2>
            </div>
        {% endif %}
        <div class="text-center cell medium-6 small-12 {{ (content_block.picture_position is not empty) ? 'large-order-2 medium-order-2' : 'large-order-1 medium-order-1' }} small-order-2">
            <picture>
                <source media="(max-width: 420px)" srcset="{{ content_block.picture.sizes.lgd_sm_thumb }}">
                <source media="(max-width: 860px)" srcset="{{ content_block.picture.sizes.lgd_md_thumb }}">
                <source media="(max-width: 1280px)" srcset="{{ content_block.picture.sizes.lgd_lrg_thumb }}">
                <source media="(max-width: 1680px)" srcset="{{ content_block.picture.sizes.lgd_xlrg_thumb }}">
                <source media="(min-resolution: 192dpi) and (min-width : 1280px)" srcset="{{ content_block.picture.sizes.lgd_rt_thumb }}">
                <img src="{{ content_block.picture.sizes.lgd_lrg_thumb }}" alt="{{ content_block.picture.title }}" title="{{ content_block.picture.title }}">
            </picture>
        </div>
        <div class="cell medium-6 small-12 {{ (content_block.picture_position is not empty) ? 'large-order-1 medium-order-1' : 'large-order-2 medium-order-2' }} small-order-1">
            {{ content_block.content }}
        </div>
    </div>
</div>
