<div class="row block-content">
    <div class="grid-x grid-padding-x">
        <div class="cell large-8 medium-10 small-12 large-offset-2 medium-offset-1">
            {% if content_block.title %}
                <h2 class="text-center block-title">{{ content_block.title }}</h2>
            {% endif %}
            {% if content_block.diaporama %}
                <div class="swiper-container js-diaporama block-content-diaporama" id="diaporama-block-{{ key }}">
                    <div class="swiper-wrapper">
                        {% for item in content_block.diaporama %}
                            <div class="swiper-slide">
                                <a href="{{ item.picture.sizes.lgd_xlrg_thumb }}" data-fancybox="diaporama-gallery" data-caption="{{ item.picture_title }}">
                                    <picture>
                                        <source media="(max-width: 480px)" srcset="{{ item.picture.sizes.lgd_sm_thumb }}">
                                        <source media="(max-width: 960px)" srcset="{{ item.picture.sizes.lgd_md_thumb }}">
                                        <source media="(max-width: 1280px)" srcset="{{ item.picture.sizes.lgd_lrg_thumb }}">
                                        <source media="(min-resolution: 192dpi) and (min-width : 1280px)" srcset="{{ item.picture.sizes.lgd_rt_thumb }}">
                                        <img src="{{ item.picture.sizes.lgd_xlrg_thumb }}" alt="{{ item.picture_title }}" title="{{ item.picture_title }}">
                                    </picture>
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
