<div class="row block-content block-onglets">
    <div class="grid-x grid-padding-x">
        <div class="cell large-8 medium-10 small-12 large-offset-2 medium-offset-1">
            {% if content_block.title %}
                <h2 class="text-center block-title">{{ content_block.title }}</h2>
            {% endif %}

            {% if content_block.onglets is not empty %}
                <nav class="onglets-nav">
                    <ul>
                    {% for onglet_id, onglet in content_block.onglets %}
                        <li class="onglet-nav-item{{ (onglet_id == 0) ? ' active' : '' }}">
                            <a href="#" class="js-open-onglet" data-id="onglet-{{ key }}-{{ onglet_id }}">
                                {{ onglet.title }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            {% endif %}

            {% if content_block.onglets is not empty %}
                <div class="onglets">
                    {% for onglet_id, onglet in content_block.onglets %}
                        <div class="onglet{{ (onglet_id == 0) ? ' active' : '' }}" id="onglet-{{ key }}-{{ onglet_id }}">
                            {{ onglet.content }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
