{% if content_block.downloadable_documents %}
    <div class="row block-content download-block">
        <div class="grid-x grid-padding-x">
            {% if content_block.title %}
                <div class="small-12 cell">
                    <h2 class="text-center block-title">{{ content_block.title }}</h2>
                </div>
            {% endif %}

            <div class="large-8 medium-10 small-12 cell large-offset-2 medium-offset-1">
                <ul class="downloadable-items">
                    {% for downloadable_document in content_block.downloadable_documents %}
                        <li>
                            <a href="{{ downloadable_document.document.url }}" title="{{ downloadable_document.title }}" download="{{ downloadable_document.document.filename }}">
                                <i class="fas {{ fn('get_file_icon_class', downloadable_document.document.subtype )}}"></i>
                                {{ downloadable_document.title }}
                                <span class="filesize">{{ __('File size', LANG_DOMAIN) }} : {{ fn('get_formatted_filesize', downloadable_document.document.filesize) }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}
